<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<H1>My Jupyter Notebook on IBM Watson Studio</H1>

<b>Agu Chukwuemeka Miracle</b>
<p>Data Analyst</p>

<i> I am Interested in Data science because the place of data science can never be over emphaphise . My love for calculations and statistics brought me to the field while the future of data science and its relevance kept me</i>

<H3> Simple mathematical calculation</H3>

In [1]:
a = 20 * 54
print(a)

1080

<ul>
    <li>Bulleted list item 1</li>
    <li>Bulleted list item 2</li>
    <li>Bulleted list item 3</li>
</ul>
<ol>
    <li>Numbered list item 1</li>
    <li>Numbered list item 2</li>
    <li>Numbered list item 3</li>
</ol>
<table>
    <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
    </tr>
    <tr>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
    </tr>
    <tr>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
    </tr>
</table>

<a href="https://www.example.com">Hyperlink</a>
<img src="https://via.placeholder.com/150" alt="image">
<blockquote>Blocked quote</blockquote>

<del>Strikethrough</del>